@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --body-bg:#ffffff;
    --first-bg:#ffffff;
    --result-color:#0077ff;
    --input-color:#333333e6;
    --input-shadow:#0071f11a;
    --oparetor-color:#3191ff;
    --calculator-shadow:#0071f126;
}
:root.dark{
    --body-bg:#242424;
    --first-bg:#242424;
    --result-color:#ffffff;
    --input-color:#fff;
    --input-shadow:#3b3b3b;
    --oparetor-color:#acacac;
    --calculator-shadow:#81818126;
}
:root.dark form input{
    box-shadow: -3px -3px 8px var(--input-shadow);
}

body{
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color:var(--body-bg);
   transition: 0.2s;
}

.container{
    width: 320px;
    height: 550px;
    padding: 10px 10px;
    border-radius: 12px;
    background-color: var(--first-bg);
    box-shadow: 20px 20px 80px var(--calculator-shadow);
}
:root.dark .container{
    box-shadow: 0 0 10px var(--calculator-shadow);
}
.container .mode{
    text-align: center;
}

.mode label{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 30px;
    border-radius: 90px;
    background-color: #ffffff;
    box-shadow: inset 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 3px rgba(255,255,255,0.2);
    cursor: pointer;
    transition: 0.3s;
}

label:after{
    position: absolute;
    content: '';
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to top left, #FD8515, #FFD700);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.mode input{
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label{
    background-color: #242424;
}

input:checked + label:after{
    left: 65px;
    transform: translateX(-100%);
    background: linear-gradient(to top left, #303030, #424242);
    
}

label, label:after{
    transition: 0.3s;
}

label:active:after{
    width: 30px;
}

input:checked + label + .container{
    background-color: #242424;
}

.white .result{
    width: 100%;
    height: 100px;
}

.white .result input{
    width: 100%;
    height: 100%;
    color: var(--result-color);
    font-size: 40px;
    padding-right: 15px;
    text-align: right;
    border: none;
    outline: none;
    background: transparent;
}

.container form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form input{
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    color: var(--input-color);
    font-weight: 600;
    border-radius: 15px;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: 5px 5px 8px var(--input-shadow);
}

form input.color{
    color: var(--oparetor-color);
}